<!doctype html>
<html>


{% block preamble %}
<head>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">


</head>
{% endblock %}



<body>

{% block header_string %}
<h1>
  DESI API Response
</h1>

<pre>
{{ request.__str__()  }}
</pre>
{% endblock %}


{% block table %}
<table id="table" class="display table table-striped" style="width:100%">
        <thead>
            <tr>
            </tr>
        </thead>
        <tfoot>
            <tr>
            </tr>
        </tfoot>
    </table>
{% endblock %}

{% block javascript %}
  <script>
      jsonData = JSON.parse({{ json_data|tojson }})
      new DataTable('#table', {
      data: jsonData,
      columns: [

                {% for column in columns %}
                     {title: '{{ column }}', data: '{{ column }}'},
                {% endfor %}
]

                });

  </script>
{% endblock %}

{% block postamble %}
</body>
</html>
{% endblock %}
